<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
</head>
<body>
<a href="/appfilmo/accueil">Page principale</a>
<br>
<a href="/appfilmo/films/formulaire">Ajouter un film</a>
<a>Films:</a>

<ol>
  {% for l in liste %}
    <li> {{l}}
        <a href="/appfilmo/films/affiche_films/{{l.id}}/">Affiche</a>
        <a href="/appfilmo/films/update/{{l.id}}/">Mise a jour du film</a>
        <a href="/appfilmo/films/delete/{{l.id}}/">Supprimer le film</a>
    </li>
  {% endfor %}
</ol>
</body>
</html>