{% extends "appfilmo/accueil.html" %}

{% block title %}
    Liste des catégories
{% endblock %}

{% block h1 %}
    Bienvenue sur la liste des Catégories
{% endblock %}

{% block content %}
<ol>
    {% for l in liste %}
    <li> {{l}}
        <a href="/appfilmo/categorie/affiche_categorie/{{l.id}}/">Affiche</a>
        <a href="/appfilmo/categorie/update_cat/{{l.id}}/">Mise a jour</a>
        <a href="/appfilmo/categorie/delete_cat/{{l.id}}/">Supprimer</a>
    </li>
    {% endfor %}

</ol>

{% endblock content %}
